/* 
    Document   : write.css
    Created on : Apr 27, 2012, 8:27:10 AM
    Author     : sami
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
#collage{
    width:942px;
    display:block;
    margin:30px auto 0px auto;
    padding-bottom:20px;
}